.container {
  padding: 1rem;
}

.create-shop {
  max-width: 600px;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.header {
  color: #3D305B;
}

.create-shop p.info {
  color: #8B959F;
  font-size: .9rem;
}

.create-form {
  margin: 1rem 0;
}

.form-group {
  margin: 2rem 0;
}

.form-group input, textarea {
  width: 100%;
  padding: .7rem;
  border-radius: .5rem;
  border: 1px solid #8B959F;
}

.submit-btn {
  width: 100%;
  padding: .8rem;
  background-color: #3D305B;
  color: #FFF;
  border: none;
  border-radius: .5rem;
  transition: all .3s;
}

.submit-btn:hover {
  background-color: #593F96;
}

.add-products {
  font-size: .9rem;
  text-align: center;
  margin: .8rem;
}

.add-products a {
  color: #3D305B;
}

@media (min-width: 600px) {
  .create-shop {
    padding: 3rem;
  }
}