@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* Nav */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  background-color: #FFF;
}

.logo {
  color: #3D305B;
  margin-right: auto;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #3D305B;
  margin: 2px 0;
}

.nav-links {
  display: none;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.nav-links a {
  padding: .7rem;
  align-self: center;
  display: block;
  width: 100%;
  color: black;
}

.nav-links .create-btn {
  width: 100%;
}

a.cart {
  transform: translateY(3px)
}

.create-btn {
  padding: .7rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  transition: all .3s;
  font-weight: 600;
}

.btn-1 {
  border: 1px solid #3D305B;
  background-color: #3D305B;
  color: #FFF;
}

.btn-2 {
  background-color: #FFF;
  color: #3D305B;
}

.btn-1:hover {
  background-color: transparent;
  border: 1px solid #3D305B;
  color: #3D305B;
}

.btn-2:hover {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
}

@media (min-width: 768px) {
  /* Nav */
  .nav-links {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav-links a {
    margin: 0 .6rem;
    padding: 0;
    width: auto;
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}